/Control_3day_rep1_LAP_bed.rds
/Control_3day_rep1_LAP_polyAdb3.rds
/Control_3day_rep1_PASS_bw_LAP24.bed.sorted
/Control_3day_rep1_LAPs_24.PASS.rds
/Control_3day_rep1_PASS_bw_LAP24.bed
/Control_3day_rep1_PASS_bw_LAP24_PAS.bed.sorted
/Control_3day_rep1_PASS_bw_LAP24_PAS.bed
/Control_3day_rep1_PASS_bw_LAP24_positon.bed
/Control_3day_rep1_PASS_bw_LAP24_positon.bed.sorted
/Control_3day_rep1_mapped_read.bed
/Control_3day_rep1_mapped_read.bed.sorted
/Control_3day_rep2_LAP_bed.rds
/Control_3day_rep2_LAP_polyAdb3.rds
/Control_3day_rep2_LAPs_24.PASS.rds
/Control_3day_rep2_PASS_bw_LAP24.bed
/Control_3day_rep2_PASS_bw_LAP24.bed.sorted
/Control_3day_rep2_PASS_bw_LAP24_PAS.bed
/Control_3day_rep2_PASS_bw_LAP24_PAS.bed.sorted
/Control_3day_rep2_PASS_bw_LAP24_positon.bed
/Control_3day_rep2_PASS_bw_LAP24_positon.bed.sorted
/Control_3day_rep2_mapped_read.bed
/Control_3day_rep2_mapped_read.bed.sorted
